body {
    margin: 0;
    background-color: #191919;
    width: 100%;
    height: 100%;
    /*font-family: Helvetica Neue;*/
}

.container {
    max-width: 1142px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}